/* Whole webpage */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
   text-decoration: none;
   list-style: none;
}

/*Color of body background including navigation bar */
body {
  background-color: black;
  overflow-x: hidden;
}

/*Navigation lists and Bar */
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: black;
  color: white;
  z-index: 10;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 3px 3px black;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 36px;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul a{
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav a{
  color: white;
  text-transform: uppercase;
  padding: 0 20px;
}
nav a:hover{
  color: yellow;
}

/*Color of icon */
i {
  color: white;
}

/* Date on top right corner beside "About" list */
.date {
  padding-left: 20px;
  text-align: center;
}

/*Font weight of the Date Day, DD/MM/YYYY */
#dayname {
  font-weight: 700;
}

#daynum {
  font-weight: 700;
}
#month {
  font-weight: 700;
}
#year {
  font-weight: 700;
}

/* Welcome background */
#welcome {
  background-image: url(images/photo-1618060931775-18ed14951776.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  color: white;
  margin: 120px 0 30px 0;
}

/*Greeting on the overlaping welcome image*/
#welcome h1{
  font-size: 50px;
  color: white;
  background-color: none;
  padding-top: 100px;
}

.title {
  margin: 120px 30px 30px 30px;
  color: white;
  text-align: center;
}

.about-title {
  margin: 60px;
  padding: 60px;
  color: white;
  text-align: center;
  border-bottom: 5px solid white;
}

/* For 4 horizontal columns in main webpage only */
.container {
  margin: 30px;
  padding: 30px 0 0 35px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: 3px solid white;
}

.blog-container, .blog-title h1 {
  margin: 120px 0 0 0;
  color: white;
}

.blog-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.blog-container .columns{
  flex: 0 0 auto;
  width: 50%;
}
.icon-container h5{
  margin: 20px 0 0 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/*Horizontal 4 columns for 4 computer topics*/
#horizontal-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 45px 10px 15px;
}

.compsec-container{
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}
.flex-compsec-container {
  display: flex;
  margin: 10px 30px 10px 30px;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}
/* Flex container for 5 intersting topics using sources for Computer Science*/
.flex-container {
  display: flex;
  margin: 0px 30px 0px 30px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  justify-content: center;
  text-align: center;
  color: white;
}
.flex-left-container a{
  color: white;
}
.flex-container > *:nth-child(1){
    flex: 1 1 50%;
}
.flex-container > *:nth-child(2){
  flex: 1 1 50%;
}
.flex-compsec-container > *:nth-child(1){
  flex: 1 1 70%;
  min-width: 30ch;
}

.flex-compsec-container > *:nth-child(2){
  flex: 1 1 30%;
  min-width: 15ch;
  border-left: 5px solid white;
}

.four-topic-menu{
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.four-topic-menu a{
  color: white;
}

.four-topic-menu a:hover{
  color: yellow;
}
.facts {
  margin: 20px;
}

.news {
  margin: 20px;
}

.facts a, .news a{
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.facts h1, .news h1 {
  color: white;
  text-align: center;
  padding: 10px;
}

.facts a:hover, .news a:hover{
  color: yellow;
}

.box {
  height: 300px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.box a, .box h3 {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 5px 30px 5px;
}

.box a h3:hover {
  color: yellow;
}

.box img {
  height: 170px;
}

img {
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav a{
  color: white;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav ul{
  padding: 10px;
}

.nav a:hover{
  color: yellow;
}

/*This is for the media query located top right as hamburger menu for navigation lists including date*/
#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line{
  width: 30px;
  height: 5px;
  background: white;
  margin: 5px;
  border-radius: 3px;
}

/*For the email notification phrase */
.address, .address input{
  color: white;
}

.address h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

/*Social media icons separated by circles and the phrase*/
.icons {
  margin: 20px;
}

.icons h2{
  text-transform: uppercase;
  font-size: 18px;
}

/* Input for the email notification if subscribed (JS not needed). */
input {
  position: relative;
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
  transition: .5s;
}
input[type="text"] {
  background: black;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 20px;
  border: 2px solid white;
}

input[type="submit"]{
  position: relative;
  color: black;
  left: -5px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: yellow;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 5px;
}
input[type="submit"]:hover{
  background-color: white;
}
/* Footer (second to the last layer) for the whole 4 containers separated for this website information and email notif. */
.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 5px 30px 0 30px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* Size of the icon on the first container of the footer */
.icon i{
  font-size: 50px;
}

/* List of social media icons (circles) */
.icons li {
  list-style: none;
  margin: 10px;
  padding: 10px 10px;
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

/*Click on one of 5 social media icons the yellow around it glows */
.icons li:hover {
  color: yellow;
  border: 2px solid yellow;
}

/* Last layer of my website */
.copyright {
  color: white;
  margin: 10px;
  text-align: center;
}

/*Media Queries */

@media screen and (max-width: 1050px){
  .footer {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 0px;
  }
  .address h2{
    font-size: 18px;
  }
  .icons h2{
    font-size: 18px;
  }
}
@media screen and (max-width: 900px){
  nav .icon-burger{
    display: block;
  }
  #welcome h1{
    padding-top: 120px;
  }
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav ul {
    float: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    z-index: 9;
    transition: all .5s ease-in-out;
  }
  nav h2 li {
    display: none;
  }
  nav ul a {
    font-size: 24px;
  }
  nav :checked ~ ul{
    bottom: 0;
  }
  nav .icon-burger .line{
    transition: all .3s ease-in-out;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
@media screen and (max-width: 800px){
  .icons li{
    margin: 5px 2px 0px 2px;
  }
  input[type="text"]{
    width: 185px;
  }
  .icons h2, .address h2{
    text-align: center;
    font-size: 18px;
  }
  .footer{
    grid-gap: 2px;
  }
}
/*For phone smaller than Iphone 6s or older*/
@media screen and (max-width: 336px){
  input[type="text"]{
    width: 75px;
  }
  .icons li{
    margin: 5px 1px 0 1px;
    padding: 5px;
  }
}
/*For Ipad or any type of tablet with landscape wider than portrait (not larger than computer) */
@media screen and (max-width: 750px){
  #horizontal-nav {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 45px 0 10px;
  }
  .four-topic-menu a{
    padding: 0 0 0 20px;
    margin: 0 10px 0 0;
  }
  .footer {
    margin: 30px 0 0 0;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .address {
    margin: 0 0 0 20px;
  }
}
@media (max-width:570px){
  .four-topic-menu{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    padding: 0 20px 0 0;
  }
}
/* For the phone */
@media screen and (max-width: 450px){
  .footer {
    margin: 30px 0 0 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #horizontal-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 45px 20px 10px;
  }
  .container{
    margin: 10px;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .four-topic-menu {
    grid-template-columns: 2fr 2fr;
    display: grid;
    grid-gap: 20px;
    padding: 0 20px 0 0;
  }
  .icons li{
    margin: 10px 5px 0px 5px;
  }
  .icons h2 {
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  .address h2{
    font-size: 18px;
  }
  .address {
    margin: 0 10px 0 10px;
  }
  input[type="text"]{
    width: 95px:
  }
  .copyright {
    text-align: center;
    font-size: 10px;
  }
}
