* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
   text-decoration: none;
   list-style: none;
}

body {
  background-color: black;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: black;
  color: white;
  z-index: 10;
  border-bottom: 2px solid white;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 36px;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul a{
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav a{
  color: white;
  text-transform: uppercase;
  padding: 0 20px;
}
nav a:hover{
  color: yellow;
}

i {
  color: white;
<<<<<<< HEAD
}

.date {
  padding-left: 20px;
}
#dayname {
  font-weight: 700;
}

#daynum {
  font-weight: 700;
}
#month {
  font-weight: 700;
}
#year {
  font-weight: 700;
=======
>>>>>>> da72432eb811abf6b78cf6f92cbd6c505072c452
}

#welcome {
  background-image: url(images/photo-1618060931775-18ed14951776.jpg);
  height: 100vh;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  color: white;
  background-color: none;
  margin: 50px 0 30px 0;
}

#welcome h1{
  font-size: 50px;
  color: white;
  background-color: none;
  padding-top: 250px;
}

#welcome img{
  background-size: cover;
  width: 100%;
  margin-top: 20px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.container {
  margin: 60px;
  padding: 60px 0 0 70px;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-top: 5px solid white;
}

#horizontal-nav {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.flex-container {
  display: flex;
  margin: 60px;
  padding: 60px;
  text-align: center;
  justify-content: center;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.facts a, .facts h1{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.news a, .news h1 {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.facts a:hover, .news a:hover{
  color: yellow;
}

.box {
  height: 300px;
  color: white;
  border: 2px solid white;
}

.box a, .box h3 {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 50px;
}

.box a h3:hover {
  color: yellow;
}

.box img {
  height: 25vh;
}

img {
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav a{
  color: white;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
}

.nav ul{
  padding: 10px;
}

.nav a:hover{
  color: yellow;
}

.address, .address input{
  color: white;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;
}
input[type="text"] {
  background: white;
  color: black;
  width: 240px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

input[type="submit"]{
  position: relative;
  color: black;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: green;
}
input[type="submit"]:hover{
  background-color: yellow;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}

.icon i{
  font-size: 50px;
}

.icons li {
  list-style: none;
  margin: 18px;
  padding: 10px 10px;
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  transition: .5s;
}

.icons li:hover {
  color: yellow;
  border: 3px solid yellow;
  transition: .5s;
}

.copyright {
  color: white;
  margin: 10px;
}

/*Media Queries */

@media screen and (max-width: 858px){
  .checkbtn{
    display: block;
  }
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav ul {
    float: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    background: gray;
    overflow: hidden;
    z-index: 9;
    transition: all .5s ease-in-out;
  }
  nav h2 li {
    display: none;
  }
  nav ul a {
    font-size: 24px;
  }
  #check:checked ~ ul{
    bottom: 0;
  }
  .footer {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 40px;
  }
  input[type="text"] {
    width: 240px;
    height: 60px;
    border-radius: 25px;
  }
  input[type="submit"] {
    width: 240px;
    height: 60px;
    border-radius: 25px;
  }
  #horizontal-nav {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
  }
  .flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
