/* Whole webpage */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
   text-decoration: none;
   list-style: none;
}

/*Color of body background including navigation bar */
body {
  background-color: black;
  overflow-x: hidden;
}

/*Navigation lists and Bar */
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: black;
  color: white;
  z-index: 10;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 3px 3px black;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 36px;
}

nav ul {
  float: right;
  padding-right: 10px;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul a{
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav a{
  color: white;
  text-transform: uppercase;
  padding: 0 20px;
}
nav a:hover{
  color: yellow;
}

/*Color of icon */
i {
  color: white;
}

/* Date on top right corner beside "About" list */
.date {
  padding-left: 20px;
  text-align: center;
}

/*Font weight of the Date Day, DD/MM/YYYY */
#dayname {
  font-weight: 700;
}

#daynum {
  font-weight: 700;
}
#month {
  font-weight: 700;
}
#year {
  font-weight: 700;
}

/* Welcome background */
#welcome {
  background-image: url(images/photo-1618060931775-18ed14951776.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  color: white;
  margin: 120px 0 30px 0;
}

/*Greeting on the overlaping welcome image*/
#welcome h1{
  font-size: 50px;
  color: white;
  padding-top: 120px;
}

#welcome h6{
  float: right;
  margin-bottom: 100px;
}

.title {
  margin: 120px 30px 30px 30px;
  color: white;
  text-align: center;
}

.title p{
  margin-top: 10px;
}

.about-title {
  margin: 60px;
  padding: 60px;
  color: white;
  text-align: center;
  border-bottom: 5px solid white;
}

/* For 4 horizontal columns in main webpage only */
.container {
  margin: 30px;
  padding: 30px 0 0 35px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: 3px solid white;
}

/* Contents.html container */
.contents-container {
  border-top: 3px solid white;
}

/*Blog Webpage*/
.blog-container, .blog-title h1 {
  margin: 120px 0 0 0;
  color: white;
}

.blog-container{
  display: flex;
}

.columns.content {
  height: 250px;
  margin: 30px;
}

/*This is for first container of the footer */
.icon-container h5{
  margin: 20px 0 0 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/*Horizontal 4 columns for 4 computer topics*/
#horizontal-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 45px 10px 15px;
}

.compsec-container{
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}
.flex-compsec-container {
  display: flex;
  margin: 10px 10px 10px 30px;
  color: white;
}

.flex-compsec-container > *:nth-child(1) {
  flex: 1 1 90%;
}
.flex-compsec-container > *:nth-child(2) {
  flex: 1 1 50%;
}
/* Flex container for 4 intersting topics using sources for Computer Science*/
.flex-container {
  display: flex;
  margin: 0px 30px 0px 30px;
  border-top: 3px solid white;
  color: white;
}
.flex-left-container a{
  color: white;
  text-decoration: underline;
}
.flex-container > *:nth-child(1){
    flex: 1 1 50%;
}
.flex-container > *:nth-child(2){
  flex: 1 1 50%;
}
.flex-left-container{
  margin: 5px;
}
.flex-left-container ul li{
  padding: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.flex-left-container a:hover{
  color: yellow;
}

/* Flex left box for all 4 CS Topics*/
.flex-left-box {
  margin: 20px;
  border: 1px solid white;
  width: 85%;
  border-radius: 5px;
}

.flex-left-box h3, .flex-left-box p {
  padding: 10px;
}

.flex-left-box a:hover {
  color: yellow;
}
.flex-left-box img{
  height: 300px;
}



/*Flex right box for Facts news and trivias about 4 CS Topics*/
.flex-right-facts a{
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.flex-right-news{
  margin: 20px 0 20px 0;
}

.flex-right-facts li {
  padding: 5px 0 5px 5px;
}

.flex-right-facts a:hover{
  color: yellow;
}
.flex-right-news a{
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.flex-right-news li {
  padding: 5px 0 5px 5px;
}

.flex-right-news a:hover{
  color: yellow;
}

.flex-right-trivias a{
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.flex-right-trivias a:hover{
  color: yellow;
}

.flex-right-trivias li {
  padding: 5px 0 5px 5px;
}

.flex-right-container{
  padding: 20px 0 0 0;
  margin-right: 40px;
  width: 15%:
}

.flex-right-news h2, .flex-right-facts h2, .flex-right-trivias h2{
  text-align: center;
}
/*For 4 min topic webpages so Computer security, Error control, encryption and computer technology*/
.four-topic-menu{
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.four-topic-menu a{
  color: white;
}

.four-topic-menu a:hover{
  color: yellow;
}
/*For main webpage on the Facts and News section so after 4 box horizontal columns*/

.facts ul li, .news ul li{
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.facts a, .news a{
  color: white;
}

.facts h2, .news h2 {
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.facts a:hover, .news a:hover{
  color: yellow;
}

/*This is for the 4 horizontal columns containing 4 main topics for Computer Science*/
.box {
  height: 300px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.box a, .box h3 {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 5px 30px 5px;
}

.box a h3:hover {
  color: yellow;
}

.box img {
  height: 170px;
}

img {
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/*This is for the footer of navigation list located at second container of footer section*/
.nav a{
  color: white;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav ul{
  margin-bottom: 10px;
}

.nav ul li{
  padding: 10px 0 10px 0;
}

.nav a:hover{
  color: yellow;
}

/*This is for the media query located top right as hamburger menu for navigation lists including date*/
#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line{
  width: 30px;
  height: 5px;
  background: white;
  margin: 5px;
  border-radius: 3px;
}

/*For the email notification phrase */
.address, .address input{
  color: white;
}

.address h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

/*Social media icons separated by circles and the phrase*/
.icons {
  margin: 10px;
}

.icons h2{
  text-transform: uppercase;
  font-size: 18px;
}

/* Input for the email notification if subscribed (JS not needed). */
input {
  position: relative;
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
  transition: .5s;
}
input[type="text"] {
  background: black;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 20px;
  border: 2px solid white;
}

input[type="submit"]{
  position: relative;
  color: black;
  left: -5px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: yellow;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 5px;
}
input[type="submit"]:hover{
  background-color: white;
}
/* Footer (second to the last layer) for the whole 4 containers separated for this website information and email notif. */
.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 0 30px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-top: 3px solid white;
}

/* Size of the icon on the first container of the footer */
.icon i{
  font-size: 50px;
}

/* List of social media icons (circles) */
.icons ul li {
  list-style: none;
  margin: 10px;
  padding: 10px 10px;
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

/*Click on one of 5 social media icons the yellow around it glows */
.icons li:hover {
  color: yellow;
  border: 2px solid yellow;
}

/* Last layer of my website */
.copyright {
  color: white;
  margin: 10px;
  text-align: center;
}

/*Media Queries */

/*Footer when one of containers reaches the 0px gap beside*/
@media screen and (max-width: 1050px){
  .footer {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 0px;
  }
  .address h2{
    font-size: 18px;
  }
  .icons h2{
    font-size: 18px;
  }
}
/*Navigation when a very first one of the nav list or an icon reaches beside*/
@media screen and (max-width: 900px){
  nav .icon-burger{
    display: block;
  }
  #welcome h1{
    padding-top: 120px;
  }
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav ul {
    float: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    z-index: 9;
    transition: all .5s ease-in-out;
  }
  nav h2 li {
    display: none;
  }
  nav ul a {
    font-size: 24px;
  }
  nav :checked ~ ul{
    bottom: 0;
  }
  nav .icon-burger .line{
    transition: all .3s ease-in-out;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
@media screen and (max-width: 800px){
  .icons ul li{
    margin: 5px 2px 0px 2px;
  }
  input[type="text"]{
    width: 185px;
  }
  .icons h2, .address h2{
    text-align: center;
    font-size: 18px;
  }
  .footer{
    grid-gap: 2px;
  }
}
/*For phone smaller than Iphone 6s or older*/
@media screen and (max-width: 336px){
  #welcome h1{
    padding-top: 90px;
  }
  input[type="text"]{
    width: 75px;
  }
  .icons li{
    margin: 5px 1px 0 1px;
    padding: 5px;
  }
}
/*For Ipad or any type of tablet with landscape wider than portrait (not larger than computer) */
@media screen and (max-width: 750px){
  #horizontal-nav {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 45px 0 10px;
  }
  .four-topic-menu a{
    padding: 0 0 0 20px;
    margin: 0 10px 0 0;
  }
  .flex-left-box{
    width: 70%;
  }
  .flex-left-box img{
    height: 200px;
  }
  .flex-right-container{
    width: 50%;
  }
  .footer {
    margin: 10px 0 0 0;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .address {
    margin: 0 0 0 20px;
  }
}
/*For the 4 main topic webpages when one of the links becomes squeezed and very close to each other*/
@media (max-width:570px){
  .four-topic-menu{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    padding: 0;
  }
}
/* For the phone */
@media screen and (max-width: 450px){
  #welcome h1{
    padding-top: 90px;
  }
  .blog-container {
    flex-direction: column;
  }
  .flex-left-box{
    margin: 10px 10px;
    width: 87%;
  }
  .flex-left-box img{
    height: 200px;
  }
  .footer {
    margin: 30px 0 0 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #horizontal-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 45px 20px 10px;
  }
  .container{
    margin: 10px;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .flex-compsec-container{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .flex-right-container{
    margin-right: 20px;
  }
  .four-topic-menu {
    grid-template-columns: 1fr;
    display: grid;
    grid-gap: 10px;
    padding: 0 20px 0 0;
  }
  .icons li{
    margin: 10px 5px 0px 5px;
  }
  .icons h2 {
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  .address h2{
    font-size: 18px;
  }
  .address {
    margin: 0 10px 0 10px;
  }
  input[type="text"]{
    width: 95px;
  }
  .copyright {
    text-align: center;
    font-size: 10px;
  }
}
